In [31]:
import pandas as pd

df= pd.read_csv('games_dashboard.csv')
#grupo = df.groupby(['Categoria', 'Detalhe_Produto'])
#contagem = df.groupby(['Categoria', 'Detalhe_Produto']).size().reset_index(name='contagem')

df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Year
2010    9
2007    7
2009    7
2012    7
2011    7
2013    6
2008    6
2005    6
2004    5
2006    5
1997    4
2014    4
1999    3
2001    3
2015    3
1996    3
1988    2
2002    2
1989    2
1998    2
1992    2
1994    1
1993    1
1990    1
1985    1
1984    1
1982    1
Name: count, dtype: int64